// ------------------------------------------ 2dtransport -----------------------------------------------------------------

// -------------------------------------------
// -------------- translate ------------------
// -------------------------------------------
@mixin translate($option){
	    -ms-transform: translate($option);
    -webkit-transform: translate($option);
            transform: translate($option);
}
/*
example
@include translate(50px, 100px);
*/

// -------------------------------------------
// -------------- rotate    ------------------
// -------------------------------------------
@mixin rotate($option){
	    -ms-transform: rotate($option);
    -webkit-transform: rotate($option);
            transform: rotate($option);
}
/*
example
@include rotate(20deg);
@include rotate(-20deg);
*/




// -------------------------------------------
// -------------- scale ----------------------
// -------------------------------------------
@mixin scale($option){
	    -ms-transform: scale($option);
    -webkit-transform: scale($option);
            transform: scale($option);
}
/*
example
@include scale(2, 3);
*/


@mixin skew($option){
	    -ms-transform: skew($option);
    -webkit-transform: skew($option);
            transform: skew($option);
}
/*
example
@include skew(20deg, 10deg);
 
*/
// -------------------------------------------
// -------------- skewX ----------------------
// -------------------------------------------
@mixin skewX($option){
	    -ms-transform: skewX($option);
    -webkit-transform: skewX($option);
            transform: skewX($option);
}
/*
example
@include skewX(20deg);
*/

// -------------------------------------------
// -------------- skewX ----------------------
// -------------------------------------------
@mixin skewY($option){
	    -ms-transform: skewY($option); 
    -webkit-transform: skewY($option); 
            transform: skewY($option);
}
/*
example
@include skewY(20deg);
*/


// -------------------------------------------
// -------------- matrix ----------------------
// -------------------------------------------
@mixin matrix($option){
	    -ms-transform: matrix($option); 
    -webkit-transform: matrix($option); 
            transform: matrix($option);
}
/*
example
@include matrix(1, -0.3, 0, 1, 0, 0);
*/